<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Mediapipe Sit Up Pose Estimation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/player/YTPlayer.css') }}" />
	<link href="{{ url_for('static', filename='css/pro-bars.css') }}" rel="stylesheet" />
</head>
<body style="background-color: EEEEEE;">
  <!-- Navigation -->
	<section id="navigation" class="dark-nav">
		<!-- Navigation Inner -->
		<div class="nav-inner">
			<!-- Site Logo -->
			<div class="site-logo fancy">
				<a href="#" id="logo-text" class="scroll logo">ORBIT
				</a>
			</div><!-- End Site Logo -->
			<a class="mini-nav-button gray2"><i class="fa fa-bars"></i></a>
			<!-- Navigation Menu -->
		    <div class="nav-menu">
				<ul class="nav uppercase">
					<li><a href="/#home" class="scroll">Home</a></li>       
					<li><a href="/pushup" class="scroll">Push up</a></li>    
				</ul>
		  </div><!-- End Navigation Menu -->
		</div><!-- End Navigation Inner -->
	</section><!-- End Navigation Section -->
    
        
    <div class="container-sm">
        <div>
            <div class="mt-8 d-grid justify-content-center">
                <img src="{{ url_for('video_feed') }}" class="img-fluid" style="margin-top: 100px">
            </div>
        </div>
    </div>
    <!-- Footer -->
	<footer id="footer" class="footer" style="margin-top: 38px;">
		<!-- Your Company Name -->
        <p>Orbit Gym</p>
		<!-- Copyright -->
		<p class="copyright normal">© 2022 <span class="colored">Fitness.</span> All Rights Reserved.</p>
	</footer><!-- End Footer -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</body>
</html>